body {
    text-align: center;
}

header, footer {
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    color: #333333;
}

/* Tiltes */
h1 {
    font-family: Markazi Text, serif;
    font-size: 64pt;
}

/* Sub titles */
h2 {
    font-family: Markazi Text, serif;
    font-size: 40pt;
}

/* Section title */
h3 {
    font-family: Karla, sans-serif;
    font-size: 20pt;
    text-transform: uppercase;
    font-weight: bolder;
}

/* Card title */
h4 {
    font-family: Karla, sans-serif;
    font-size: 18pt;
    font-weight: bold;
}

/* paragraph text */
p {
    font-family: Karla, sans-serif;
    font-size: 16pt;
    font-weight: normal;
}

/* paragraph text */
span {
    font-family: Karla, sans-serif;
    font-size: 16pt;
    font-weight: normal;
}

a {
    color: #333333;
    text-decoration: none;
    padding-right: 20px;
}

a:hover {
    color: #EE9972;
}

ul {
    display: block;
    list-style: none;
}

header li {
    display: inline-block;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    header, footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
